@model coreFormValidation.Models.LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="text-center">

    <div class="errorMessage" @(ViewBag.ErrorMessage == null ? "hidden" : "")>
        <h3>Error</h3>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <p>@ViewBag.ErrorMessage</p>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        }
    </div>

    <h1 class="display-4">Welcome to To Do List App</h1>
    <p>please Log In</p>

    @using (Html.BeginForm("LoginPost", "Account", FormMethod.Post))
    {
        <div class="logInForm">

            @Html.TextBoxFor(model => model.eMail, new { @class = "inputField", placeholder = "Enter your e-mail" })
            @Html.PasswordFor(model => model.Password, new { @class = "inputField", placeholder = "Enter password" })
            
            <input type="submit" value="Log In" />            
        </div>
        <p>Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">Register here</a></p>
    } 
        
   

    

</div>
